.previous {
position: fixed;
    bottom:6vh;
    right:2.5vw; 
    width:5vw;
    height: 4vh;
}

.next {

position: fixed;
    bottom:12vh;
    right: -0.5vw; 
    width: 4vw;
    height: 4vh;
}
@media (max-width: 768px) {
a.previous img {
    position: fixed;
        bottom:5vh;
        right:7vw; 
        width:7vw;
        height: 6vh;
    }
    
    a.next img {
    position: fixed;
        bottom:12vh;
        right: 1vw; 
        width: 6vw;
        height: 7vh;
    }
}
@media (max-width: 480px) {
    a.previous img {
        position: fixed;
            bottom:5vh;
            right:7vw; 
            width:7vw;
            height: 6vh;
        }
        
        a.next img {
        position: fixed;
            bottom:12vh;
            right: 1vw; 
            width: 6vw;
            height: 7vh;
        }
  }
