body{
    background-image: url('images/37.jpg ');
    background-position:top;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-size: cover;
    font-size: 1.3vw;
   text-align: justify;
   font-family: "Philosopher", sans-serif;
   font-weight: 700;
   font-style: normal;
 }
 
 h1{
     text-align: center;
     color: #D5DBAD;
     font-size: 4vw;
     position: fixed;
     top: 60%;
     left:36.5%;        
   }
   h4{
     margin:1vh auto;
     font-size: 1.7vw;
     font-weight: 700;
   }
   .pics{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin: auto;
     position: fixed;
     top: 2.7vh;
     left: 9vw;
     width:82%;   
   }
   .picss{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
    position: fixed;
    bottom: 4.1vh;
    left: 9vw; 
    width:82%; 
  }
  
   .card{
     width: 24vw;
     padding: 1vh;
     transition:  transform 2s;
     background-color: transparent;
     border: 0.2vw inset #D5DBAD; 
   }
   .card-title{
    color: #D5DBAD;
   }
 
  a{
   text-decoration: none;
   text-align: center;
   color: black;
  }
  .card:hover{
                 transform: scale(1.1);    
             }
  
   .previous {
     position: fixed;
         bottom:48vh;
         left:2vw; 
         width:5vw;
         height: 4vh;
     }
     
     .next {
     position: fixed;
         bottom:10vh;
         right: 1.5vw; 
         width: 5vw;
         height: 4vh;
     }
     a.previous img, a.next img {
      width: 90%; /* Увеличаване на ширината за по-добра видимост */
      max-width: 20vw; }
    #logo{
      width: 40%;
      position: fixed;
      top: 7%;
      left:29%
}
      @media (max-width: 768px) {
        a.previous img {
          position: fixed;
           /* bottom:5vh;
            right:7vw; */
            width:9vw;
            height: 6vh;
        } 
        a.next img {
        position: fixed;
            /*bottom:12vh;
            right: 1vw; */
            width: 6vw;
            height: 6vh;
      }
      h4{
        margin:1vh auto;
        font-size:3.5vw;
      }

      #logo{
      top: 43%;
      left:29%;
      }
      h1{
        font-size: 5vw;
        position: fixed;
        top: 33%;
        left:33%;        
      }
      .pics{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
       }
       .picss{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:absolute;
  
       }
      .card{
        width: 50vw;
        padding: 1vh;
        transition:  transform 2s;
        background-color: transparent;
        border: 0.2vw inset #D5DBAD; 
        margin: 3vh auto;
      }
      }
      @media (max-width: 480px) {
        a.previous img {
              position: fixed;
                /*  bottom:5vh;
                  right:5vw; */
                  width:9vw;
                  height: 6vh;
              }
              a.next img {
              position: fixed;
                /*  bottom:12vh;
                  right: 1vw; */
                  width: 7vw;
                  height: 6vh;
              }
              h1{
                font-size: 7vw;
                top: 33%;
                left:22%;        
              }
              h4{
                margin:1vh auto;
                font-size:5vw;
              }
              .card{
                width: 60vw;
              }
              #logo{
                width: 60%;
                top: 43%;
                left:22%;
                }
            }
